{% extends 'base.html' %}

<title>
  {% block title %}
    Записи сообщества {{ group.title }}
  {% endblock %}
</title> 
{% block content %}
  <h1>{{ group.title }}</h1>     
  <p>{{ group.description }}</p>
  {% for post in posts %}
    <article>
    <ul>
      <li>
        Автор: {{ post.author.get_full_name }}
      </li>
      <li>
        Дата публикации: {{ post.pub_date|date:"d E Y" }}
      </li>
    </ul>
    <p>{{ post.text|linebreaksbr }}</p>    
    </article>
  {% endfor %}
  {% if not forloop.last %}<hr>{% endif %}
{% endblock %}
